In [2]:
'''
'1. 라이브러리 임포트'
'2. 판다스 버전 출력 '
'3. 판다스 라이브러리 버전 정보 모두 출력'
'4. 주어진 값으로 DataFrame 객체를 생성하시오'
'5. 객체내부 정보를 출력'
'6. 객체 상위 3열까지 출력'
'7. animal과 age 컬럼만 출력'
'8. 객체의 3, 4, 8번 행에 해당하는 animal과 age 값만 출력'
'9. visit 컬럼에서 3 초과하는 값 출력'
'10. age 에서 NaN 값 출력'
'11. age가 3살 미만 고양이값 출력'
'12. age가 2살이상 4살 미만인 값 출력'
'13. f 행의 나이를 1.5살로 변경'
'14. 객체에서 visit 의 합 출력'
'15. 동물별로 나이의 평균 출력'
'16. k행을 추가하여 dog , 5.5세, 방문회수 2회, 우선권없음(no) 열을 추가'
'16-1 방금 추가한 열 삭제'
'17. 객체에 있는 동물의 종류의 수 출력'
'18. age 는 내림차순, visits 는 오름차순으로 정렬'
'19. priority 의 yes를 True, no 를 False  로 맵핑 후 출력'
'20. snake 를 python 으로 값을 변경'
'''
# 1. 판다스와 넘파이를 임포트하기
import numpy as np
import pandas as pd

In [3]:
# 2. 판다스 버전 출력
pd.__version__

'1.1.3'

In [4]:
# 3. 판다스 라이브러리 버전 정보 모두 출력
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : db08276bc116c438d3fdee492026f8223584c477
python           : 3.8.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : Korean_Korea.949

pandas           : 1.1.3
numpy            : 1.19.2
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.1.2
setuptools       : 50.3.1.post20201107
Cython           : 0.29.21
pytest           : 6.1.1
hypothesis       : None
sphinx           : 3.2.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.7
lxml.etree       : 4.6.1
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.19.0
pandas_datareader: 0.9.0
bs4              : 4.6.0
bottleneck       : 1.3.2
fsspec           : 0.8.3
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.5
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.2
sqlalchemy       : 1.3.20
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.51.2

In [5]:
# 4. 주어진 값으로 DataFrame 객체를 생성하시오
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)

In [6]:
# 5. 객체내부 정보를 출력
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [7]:
# 6. 객체 상위 3열까지 출력
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [8]:
# 7. animal과 age 컬럼만 출력
df.loc[:,['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [9]:
# 8. 객체의 3, 4, 8번 행에 해당하는 animal과 age 값만 출력
df.loc[df.index[[3,4,8]], ['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [10]:
# 9. visit 컬럼에서 3 초과하는 값 출력
df[df['visits']>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [11]:
# 10. age 에서 NaN 값 출력
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [12]:
# 11. age가 3살 미만 고양이값 출력
df[(df['age'] <3) & (df['animal'] =='cat')]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [13]:
# 12. age가 2살이상 4살 미만인 값 출력
df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [14]:
# 13. f 행의 나이를 1.5살로 변경
df.loc['f','age'] = 1.5

In [15]:
# 14. 객체에서 visit 의 합 출력
df['visits'].sum()

19

In [16]:
# 15. 동물별로 나이의 평균 출력
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [17]:
# 16. k행을 추가하여 dog , 5.5세, 방문회수 2회, 우선권없음(no) 열을 추가
df.loc['k'] = ['dog',5.5,2,'no']

In [18]:
# 16. 방금 추가한 열 삭제
df.drop('k', inplace=True)
# del df['k']

In [19]:
# 17. 객체에 있는 동물의 종류의 수 출력
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [20]:
# 18. age 는 내림차순, visits 는 오름차순으로 정렬
df.sort_values(by=['age','visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [21]:
# 19. priority 의 yes를 True, no 를 False  로 맵핑 후 출력
df['priority'] = df['priority'].map({'yes':True, 'no':False})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [22]:
# 20. snake 를 python 으로 값을 변경
df['animal'] = df['animal'].replace('snake','python')
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [23]:
# 21. 각각의 동물 유형과 방문 횟수에 대해, 평균나이를 찾으시오. 
# 즉,각 행은 animal 이고, 각 열은 visits 이며, 값은 평균연령
# (힌트, 피벗 테이블을 활용해야 함)
df = df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')
df

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN