In [3]:
import pandas as pd
import numpy as np
from icecream import ic
'''
 - (1) pivot()
 90도 회전(rotation)
 컬럼 -> 인덱스로 변환

 - (2) stack(), unstack()
 stack이 (위에서 아래로 길게, 높게) 쌓는 것이면,
 unstack은 쌓은 것을 옆으로 늘어놓는것(왼쪽에서 오른쪽으로 넓게) 라고 연상이 될 것입니다.



 - (3) melt()

 - (4) wide_to_long()

 - (5) pd.crosstab()

'''

'\n - (1) pivot(), pd.pivot_table()\n\n - (2) stack(), unstack()\n\n - (3) melt()\n\n - (4) wide_to_long()\n\n - (5) pd.crosstab()\n\n'

In [6]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
ic(df)
df = df.pivot(index="customer_id", columns="product_code", values="purchase_amount")
ic(df)

ic| df:   customer_id product_code grade  purchase_amount
        0         kim          com     A               30
        1         lee        phone     A               10
        2        park           tv     A                0
        3        song          com     A               40
        4        yoon        phone     A               15
        5        kang           tv     A               30
        6         tak          com     B                0
        7         ryu        phone     B                0
        8        jang           tv     B               10

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [7]:
# 31 다음 객체를 customer_id, grade 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오

df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
df = df.pivot(index=["customer_id","grade"],  columns="product_code", values="purchase_amount")
ic(df)

ic| df: product_code        com  phone    tv
        customer_id grade
        jang        B       NaN    NaN  10.0
        kang        A       NaN    NaN  30.0
        kim         A      30.0    NaN   NaN
        lee         A       NaN   10.0   NaN
        park        A       NaN    NaN   0.0
        ryu         B       NaN    0.0   NaN
        song        A      40.0    NaN   NaN
        tak         B       0.0    NaN   NaN
        yoon        A       NaN   15.0   NaN

product_code        com  phone    tv
customer_id grade
jang        B       NaN    NaN  10.0
kang        A       NaN    NaN  30.0
kim         A      30.0    NaN   NaN
lee         A       NaN   10.0   NaN
park        A       NaN    NaN   0.0
ryu         B       NaN    0.0   NaN
song        A      40.0    NaN   NaN
tak         B       0.0    NaN   NaN
yoon        A       NaN   15.0   NaN

In [19]:
# 32
df = pd.DataFrame(np.arange(16).reshape(4,4),
                index = pd.MultiIndex.from_tuples([('kim','2019'),('kim','2020'),('lee','2019'),('lee','2020')]),
                columns = ['com','phone','tv','notebook'])
ic(df)
# ic(type(df.stack())) pandas.core.series.Series
ic(df.stack(level=-1, dropna=True))

ic| df:           com  phone  tv  notebook
        kim 2019    0      1   2         3
            2020    4      5   6         7
        lee 2019    8      9  10        11
            2020   12     13  14        15
ic| df.stack(level=-1, dropna=True): kim  2019  com          0
                                                phone        1
                                                tv           2
                                                notebook     3
                                          2020  com          4
                                                phone        5
                                                tv           6
                                                notebook     7
                                     lee  2019  com          8
                                                phone        9
                                                tv          10
                                                notebook    11
                                          2020  com         12
                                                phone       13
                                                tv          14
                                                notebook    15
                                     dtype: int32

kim  2019  com          0
           phone        1
           tv           2
           notebook     3
     2020  com          4
           phone        5
           tv           6
           notebook     7
lee  2019  com          8
           phone        9
           tv          10
           notebook    11
     2020  com         12
           phone       13
           tv          14
           notebook    15
dtype: int32