In [20]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [6]:
pd.DataFrame({"a":[1,2], "b":[3,4],"c":[5,6]}, index=[1,2])

   a  b  c
1  1  3  5
2  2  4  6

In [11]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], index=range(1,5), columns=["A","B","C"])

    A   B   C
1   1   2   3
2   4   5   6
3   7   8   9
4  10  11  12

In [14]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object

In [18]:
pd.DataFrame(np.random.randint(0, 100, size=(2, 3)))

    0   1   2
0  85  15  64
1  34  14  87

In [23]:
[random.choice(string.ascii_letters)]

SyntaxError: invalid syntax (<ipython-input-23-94a43b2332c1>, line 1)